*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 700vh;
}

header ul li a{
    font-size: 20px;
}

header #navbarCollapse{
    justify-content: end;
}

.header{
    background-color: #1abc9c;
}

.header .custom-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .custom-container .image{
    margin-top: 15%;
    width: 20%;
}

.header .custom-container .title{
    text-align: center;
    margin-top: 3%;
}

.header .custom-container .title h1{
    font-size: 50px;
}

.header .custom-container .divader-block{
    margin-top: 2%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.header .custom-container .divader-block .divader{
    width: 10%;
    height: 3px;
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
}

.header .custom-container .divader-block .icon{
    font-size: 24px;
}

.header .custom-container .desc{
    color: white;
    margin-top: 2%;
}

.portfoli .custom-container .custom-card .title{
    text-align: center;
}

.portfoli .custom-container .custom-card .divader-block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;   
}

.portfoli .custom-container{
    margin-top: 3%;
}

.portfoli .custom-container .custom-card .divader-block .divader{
    width: 4%;
    height: 3px;
    background-color: black;
    margin-left: 1%;
    margin-right: 1%;
}

.portfoli .custom-container .custom-card .divader-block .icon{
    font-size: 24px;
    color: black;
}

.portfoli .custom-container .custom-card .custom-container img{
    width: 100%;
}

.portfoli .custom-container .custom-card .custom-row .img{
    margin-top: 5%;
    transition: 1s linear;
}

.portfoli .custom-container .custom-card .custom-row .img:hover{
    opacity: 0.8;
}

.portfoli .custom-container .custom-card .custom-row{
    display: flex;
}

.about{
    margin-top: 5%;
    background-color: #1abc9c;
    padding: 8%;
}

.about .custom-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .custom-container .title{
    color: white;
}

.about .custom-container .divader-block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;  
}

.about .custom-container .divader-block .divader{
    width: 5%;
    height: 3px;
    background-color: white;
    margin-left: 1%;
    margin-right: 1%;
}

.about .custom-container .divader-block .icon{
    font-size: 24px;
}

.about .custom-container .desc .custom-row{
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.about .custom-container .download{
    display: flex;
    justify-content: space-evenly;
    color: white;
    border: 1px solid white;
    padding: 1%;
    font-size: 22px;
    align-items: center;
    border-radius: 10px;
}

.about .custom-container .download:hover{
    background-color: white;
    color: black;
}

.about .custom-container .download .text p{
    display: inline;
}

.contact{
    margin-top: 5%;
}

.contact .custom-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact .custom-container .divader-block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;  
}

.contact .custom-container .divader-block .divader{
    width: 5%;
    height: 3px;
    background-color: black;
    margin-left: 1%;
    margin-right: 1%;
}

.contact .custom-container .divader-block .icon{
    font-size: 24px;
}

.contact .custom-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact .custom-container form input,
.contact .custom-container form textarea{
    margin-top: 1%;
    width: 50%;
    border: none;
    border-radius: 3px;
    border-bottom: 1px solid black;
    padding: 10px;
}

.contact .custom-container form input:focus,
.contact .custom-container form textarea:focus{
    outline: none;
    border-bottom: 1px solid black;
}

.contact .custom-container form button{
    margin-top: 1%;
    width: 10%;
    padding: 5px;
}

footer .social-media .links ul li{
    border: 1px solid white;
    border-radius: 100%;
    font-size: 20px;
    padding: 10px;
}

footer .social-media .links ul li :hover{
    background-color: white;
    color: black;   
}

footer .copyright{
    background-color: black;
}